$main_color:#F3B556;
$white_fg:white;
$bg_color:#3ca4fc;
$fg_color:#b7f0fc;
$color1:#72c6fc;
$color2:#56b3fc;
$color3:#047cfc;
$main_font:'Nunito' sans-serif;
$list_color:#7f7f7f;
$layout-breakpoint-small:750px;
$my_gray_color:rgb(194, 187, 187);
