h1{
    text-align: center;
    margin-top: 2em;
}

h2{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.faq-paragraph{
    max-width: 60em;
    max-height: 0em;
    overflow: hidden !important;
    border: none;
    font-size: 1.5em;
    line-height: 2em;
}

.Main{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2.5em;
}

.Main2{
    padding: 0 2em 0 2em;
}   

.Main3 h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
    padding: .5em;
  
}

.Main3 h2:hover{

background-color: #dddddd;
color: rgb(73, 66, 66);
}

.Main3 h2 span:first-child{
width: 80%;
text-overflow: ellipsis;
}

.Main4{
    margin-top: 10em;
    margin-bottom: 20em;
    border: 0.1em solid rgb(188, 187, 187);
    display: grid;
    place-items: center;
    padding:2em;
}

button{
    margin-top: 1em;
    color: white !important;
    background-color: #8b7f74;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.icon{
   border: .1em solid black;
   border-radius: 50%;
   width: 2em;
   height: 2em;
   display: flex;
justify-content: center;
align-items: center;
cursor: pointer;

}
@media Screen and (max-width: 400px) {
.main{
    padding: .5em;
}
.Main2{
    padding: .5em;
}
.Main3 h2 span:first-child{
    width: 80%;
    text-overflow: ellipsis;
    font-size: .8em;
    }
}