* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
}

.App {
    width: 100%;
    padding: 20em;
    font-family: 'nunito', sans-serif;
}

.WelcomeToPetFancy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    /* transform-origin: top left;
    transform: scale(1);
    width: 800px;
    overflow: hidden;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    margin-top: 70px;
    margin-bottom: 80px; */
}

.WelcomeToPetFancy div {
    width: 45%;
    align-self: center;
    padding: 1em;
    height: 40em;
    font-family: Quicksand sans-serif;
}

.WelcomeToPetFancy div img {
    min-width: 100%;
   height: 100%;
    object-fit: cover;
    object-position: center center;
}

.WelcomeToPetFancy div h1 {
    font-size: 4em;
    font-weight: 700;
    margin: .5em 0em .5em .1em;

}

.WelcomeToPetFancy div p {

text-align: start;
   color: rgb(80, 82, 84);
    font-size: 1.7em;
    line-height: 1.5em;
    text-align: start;
    font-weight: small;
    font-style: normal;
}

.viewNow {
    
    
    font-family: 'Quicksand', sans-serif;
    color: rgb(97, 97, 97);
    border-top: .1em solid black;
    border-bottom: .1em solid black;
    border-right: .3em solid black;
    border-left: .3em solid black;
    background-color: white;
    padding:1em;
    font-size: 1.3em;
    cursor: pointer;
   
}

.circlePetImages {
    display: grid;
    width: 100%;
    margin-top: 10em;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.circlePetImages figure{
   
}
.circlePetImages img {
    width: 250px;
    height: 250px;
    transition: transform 0.3s ease-in-out;
}

.circlePetImages img:hover {
    transform: scale(1.1);
}

#AllCollectionP {
    color: grey;
    font-family: Quicksand, sans-serif;
        cursor: pointer;
    transition: transform 0.3s ease-in-out;
    padding-bottom: 20px;
}

#AllCollectionP:hover {
    color: rgb(176, 174, 174);
    text-decoration: underline;
}

figcaption {
 margin-top: 1.5em;
}

figcaption:hover {
    text-decoration: underline;
}

footer{
   background-color:#ebebeb;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 40px;
   padding-right: 40px;
}


figcaption a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: Quicksand, sans-serif;
    font-weight: 600;
}

.PetFancyBottomImg{
    width: 90px;
    height: 24px;
   display: flex;
}

table{
    font-family: Quicksand, sans-serif;
    font-size: 1.5em;
}

table a{
    text-decoration: none;
}

th{
    color: rgb(73, 72, 72);
}

.First{
    padding-right: 130px;
}

.second{
    padding-right: 100px;
    padding-left: 70px;
    padding-bottom: 5px;
    text-align: top;
}

.bottomb{
    height: 24px;
    width: 32px;
    padding-right: 5px;
    position: relative;
    left: 950px;
}

.DMAC{
    position: relative;
    left: 850px;
    color: #8b7f74;;
}

.third{
    text-align: left;
}

.copyright{
    /* position: relative;
    left: 70px;
    margin-top: 30px;
    font-family: Quicksand, sans-serif;
    color: #8b7f74; */
}

hr{
    width: 1000px;
    position: relative;
    left: 70px;
}
.router-link{
    color: #7f7f7f;
    text-decoration: none;
}
table td{
    color: #8b7f74;
}

table td a p{
    color: #8b7f74;
}

table td a p:hover{
    text-decoration: underline;
}

@media Screen and (max-width: 800px) {
    .circlePetImages img {
        width: 200px;
        height: 200px;
        transition: transform 0.3s ease-in-out;
    }

    figcaption {
        margin-top: 1.5em;
       }
       .circlePetImages figure{
        text-align: center;
         }
    .circlePetImages {
        grid-template-columns: 1fr 1fr;
    }
    .App {
        width: 100%;
        padding: .3em;
        font-family: 'nunito', sans-serif;
    }

    .WelcomeToPetFancy div {
        width: 97%;
        align-self: center;
        padding: .5em;
        height: 40em;
        font-family: Quicksand sans-serif;
    }

    .WelcomeToPetFancy {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5em;
        flex-direction: column;
    }
    
    .WelcomeToPetFancy div img {
       
      width: 98%;
      object-fit: contain;
      object-position: center;
    }
}

@media Screen and (max-width:1300px) {
    .App {
      
        padding: .5em;
       
    }

    .WelcomeToPetFancy div h1 {
        font-size: 3em;
        font-weight: 500;
        margin: .2em 0em .2em .1em;
    
    }
    
    .WelcomeToPetFancy div p {
    
    text-align: start;
       color: rgb(80, 82, 84);
        font-size: 1.5em;
        line-height: 1.5em;
        text-align: start;
        font-weight: small;
        font-style: normal;
    }

    .viewNow {
    
    
        font-family: 'Quicksand', sans-serif;
        color: rgb(97, 97, 97);
        border-top: .1em solid black;
        border-bottom: .1em solid black;
        border-right: .3em solid black;
        border-left: .3em solid black;
        background-color: white;
        padding:.7em;
        font-size: 1em;
        cursor: pointer;
        margin-top: .7em;
    }

    .circlePetImages {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .circlePetImages figure{
   text-align: center;
    }
    figcaption {
        margin-top: 1.5em;
        text-align: center;
       }
}

@media Screen and (max-width: 400px) {
    .circlePetImages img {
        width:auto;
        height: auto;
        transition: transform 0.3s ease-in-out;
    }
    .circlePetImages {
        display: block;
        text-align: center;
    }
}

    @media Screen and (max-width:720px) {

        .circlePetImages {
            grid-template-columns: 1fr 1fr;
        }
        .circlePetImages img {
            width: 150px;
            height: 150px;
            transition: transform 0.3s ease-in-out;
        }
        .circlePetImages figure{
            text-align: center;
             }
}