@import 'color';
$list_color:#7f7f7f;
$layout-breakpoint-small:750px;


.first-container{
    @media (max-width: $layout-breakpoint-small) {
        width: 100% !important;
        overflow: hidden;

    }

}
.worldwide-shippin-paragrapgh{
color: $white_fg;
background-color:$main_color;
padding: .6em;
font-size: 1.5em;

}
//nav section

.nav{
    display: grid;
    grid-template-columns: 14% 70% 14%;
    padding: .5em;
    justify-content: center;
    align-items: center;
    @media (max-width: $layout-breakpoint-small) {
   justify-content: space-between !important;
        grid-template-columns: 20% 50%;
    
    }
    @media (max-width: 300px) {
        justify-content: space-between !important;
             grid-template-columns: 30% 60%;
         
         }
    // style for every ul inside div in nav section

    .list-section{
        @media (max-width: $layout-breakpoint-small) {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   padding: 1em;
   height: 100vh;
   box-shadow: -2px 0 14px rgba(0,0,0,.12);
   background-color: $white_fg;
   display:none;
   ul{
    display: block !important;
    padding: 0;
    li{
      padding: .5em;  
    }
   }

    
        }
    }
    div ul{
        display: flex !important;
        list-style: none;
        justify-content: start;
        

        .active{
            color: black;
        }
        li{
            letter-spacing:.5px;
            line-height:20px;
            text-decoration:none;
            white-space:nowrap;
            font-size: 1.5em;
            color: $list_color;
            margin-left: 1em;
            font-weight: 700;
            cursor: pointer;
        }

        li:hover{
         
            text-decoration:underline;
            color: #868585;
            
        }
    }
    
}
.cart li{
    font-size: 1.6em;
    color: rgb(0, 0, 0) !important;
}
.cart li:first-child{
    display: none;

    @media (max-width: $layout-breakpoint-small) {
   
        display: inline;
    
    }
}


// hero section
.hero-container {
    position: relative;
    width: 100%;
    min-width: 100px; /* Adjust the max-width as needed */
    margin: 0 auto;
    overflow: hidden;
  }

  /* Style the image within the container */
  .hero-image {
    width: 100%;
    height: auto;
    display: block;
  }

  /* Add other styles for your hero section, like text or overlay */
  .hero-text {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(10%, -50%);
    color: #fff;
    padding: 1em;
    max-width: 80%;
    @media (max-width: $layout-breakpoint-small) {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        color: $list_color;
        
        max-width: 100%;
        margin-top: .5em;
     
         
         }
    h1{
        font-size: 4em;
        font-weight: 700;
        margin-bottom: .5em;
        @media (max-width: $layout-breakpoint-small) {
            margin-bottom: .2em;
           
        }
    }
    p{
        width: 50%;
        font-size: 1.6em;
        margin-bottom: 1em;
        line-height:1.4em;
        @media (max-width: $layout-breakpoint-small) {
            width: 90vw;
            font-size: 1.3em;
            margin-bottom: .3em;
            line-height:1.6em;
            text-align: justify;
            padding: 5px;
            
        }
        }
    a{
        display: inline-block;
        border: .1em solid $white_fg;
        font-size: 1.5em;
        padding: .8em;
        cursor: pointer;
        @media (max-width: $layout-breakpoint-small) {
            border: .1em solid $list_color;  
        }
    }
  }


  //cart container section
  .cart-container{
    min-width: 30%;
    height:100vh;
    position:absolute;
    top:0;
    padding: 1em;
    background-color: $white_fg;
    z-index: 1;
    transition: all .325s;
  box-shadow: -2px 0 14px rgba(0,0,0,.12);
  @media (max-width: $layout-breakpoint-small) {
    width: 30%;
  }

  @media (max-width: 250) {
    width:53%;
  }


  }

  .cart-container p:first-child{

 
    font-size: 2.0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;

    @media (max-width: $layout-breakpoint-small) {
     font-size: 1.3em;
     font-weight: 700;
     flex-direction: column;
     justify-content: start !important;
     align-items: start;
         
         }
  }



  //search container style section

  .search-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    z-index:1;
    margin: 0;
    transition: all 500ms;
    @media (max-width: $layout-breakpoint-small) {
    
    }
    
  }

  .search-container div{
  

    padding: 10px;
    background-color: #fff;
    height: auto;

    @media (max-width: $layout-breakpoint-small) {
    
    } 
  }

  .search-container div div{
    display: flex;
    justify-content: center;
    align-items: center ;
    background: rgb(255, 255, 255);
   
    @media (max-width: $layout-breakpoint-small) {
    
    }
    span{
        margin-right: .5em;
        font-size: 1.5em;
        font-weight: 700; 
        color: #7f7f7f;
       
        @media (max-width: $layout-breakpoint-small) {
            font-size: .7em;
        }
    }
    span:first-child{
        border: 0.1px solid #ccc;
        padding: .7em;
        color: black;
        @media (max-width: $layout-breakpoint-small) {
    
        }
    }
    span input{
        border: none;
        font-weight: 700;
        margin-left: 1em;
        max-width: auto;

        @media (max-width: $layout-breakpoint-small) {
            font-weight: 500;   
            font-size: 1em;
        }
    }

    span input:focus{
        border: none;
        outline: none;

    }
    span:last-child:hover{
        text-decoration: underline;
        color: black;
        cursor: pointer;
    }
  }
  .close{
    display: none;
    @media (max-width: $layout-breakpoint-small) {
        display: block;
        
    }
  }